$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.my-drop-zone {
  border: dotted 3px lightgray;
}

.col-sm-4 {
  .cropper-full {
    width: 100%;
  }
}

#target {
  width: 100%;
}

.jcrop-keymgr {
  visibility: hidden;
}

.gridStyle {
  height: 1000px;
}

.gridModalStyle {
  height: 500px;
}

.cropper-wrap {
  position: relative;
  .cropped-controls {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
  };
}

.success {
  background: #dff0d8;
}

.selected .success{
  background: #d4d4d4;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.margin-left {
  margin-left: 20px;
}

.croppedImages {
  .single-cropped-image {
    background: rgba(red, .5);
    z-index: 1000;
    position: absolute;
    color: #fff;
    cursor: pointer;
    p{
      margin-bottom: 10px;
    }
  }
}

// .croppedImages {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0px;
//   left: 0px;
//   z-index: 1000;
// }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'expenseArticle/expenseArticle.scss';
@import 'main/main.scss';
@import 'project/project.scss';
@import 'receiptRecord/receiptRecord.scss';
// endinjector
