div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    button.btn.btn-default(ng-click="addProject = !addProject") Add project
    br
    br
    .form-horizontal(ng-show="addProject")
      .form-group
        label(class="col-sm-2 control-label") Russian name
        .col-sm-10
          input(class="form-control" ng-model="newProject.name_ru")
      .form-group
        label(class="col-sm-2 control-label") English name
        .col-sm-10
          input(type="text" class="form-control" ng-model="newProject.name_en")
      .form-group
        .btn-group.pull-right
          button.btn.btn-default(ng-click="resetFrom()") Reset
          button.btn.btn-primary(ng-click="createProject()") Save
      .clearfix
    .grid(ng-if="projects.length > 0")
      .gridModalStyle(ng-grid="gridOptions")
