.container
  .row
    .col-lg-12(ng-show="uploader.queue.length > 0")
      p
        | Прогресс загрузки:
        div.progress
          .progress-bar(role="progressbar" ng-style="{ 'width': uploader.progress + '%' }")

.container
  .row
    .col-lg-12
      | Данные за:&nbsp;
      select(ng-model="selectedMonth" ng-options="month.name for month in months" ng-change="update(selectedMonth, null)")
      select(ng-model="selectedYear" ng-options="year.name for year in years" ng-change="update(null, selectedYear)")
      br
      br

.table-container(style='width:97%; margin: 0 auto;')
  table.table
    tr
      td(width="50%")
        .gridStyle(ng-grid="gridOptionsUser")
      td(width="50%")
        .row(ng-repeat="row in rows")
          .col-xs-6.col-md-3(ng-repeat="image in row")
            a.thumbnail(href="#" ng-click="open(image)")
              img(ng-src="{{image.url}}" alt="...")
        hr
        .row
          .well.my-drop-zone.col-lg-12(ng-file-over="")
            | Загрузить изображение
            p
            .col-lg-6
              input(ng-file-select="" type="file" multiple="")

script(type='text/ng-template' id="cropModal.html")
  .modal-header
    h3.modal-title Указать чеки
  .modal-body
    img-cropped(image='image' receipts='receipts')
    //- | {{ image.currentSelection | json}}
  .modal-footer
    button.btn.btn-primary(ng-click='ok()') OK
    button.btn.btn-warning(ng-click='cancel()') Cancel

script(type='text/ng-template' id="afterCropModal.html")
  .modal-header
    h3.modal-title Привязать операцию
  .modal-body
    img.cropper-full(ng-src='{{image.url}}' align="center")
    br
    br
    .btn.btn-default(ng-click='filterRecords = !filterRecords' ng-class="{'active': filterRecords}")
      | Фильтры
    br(ng-hide='filterRecords == true')
    br(ng-hide='filterRecords == true')
    .well.well-sm(ng-show='filterRecords == true')
      datepicker(ng-model="scopeDate" show-weeks="false" starting-day="1" class='half inline-block')
      span.hidden(data-role='resultingDate') {{scopeDate | date: 'medium' }}
      .serch-filed.inline-block.margin-left
        .btn-group
          button.btn.btn-success(ng-click='applyFilters()')
            | Применить
          button.btn.btn-default(ng-click='resetFilters()')
            | Сбросить
    .gridModalStyle(ng-grid="gridOptionsFull")
    .details
      | {{ gridOptionsFull.selectedItems[0] | json }}
  .modal-footer
    button.btn.btn-primary(ng-click='ok()') OK
    button.btn.btn-warning(ng-click='cancel()') Cancel
